.game-list {
    max-height: 605px;
    min-height: 185px;
    overflow-y: scroll;
}
.game-list-search {
    max-height: 605px;
    overflow-y: scroll;
}
.game-list-search .media-content .subtitle {
    position: absolute;
    bottom: 0;
}
.game-list-search .card:first-child {
    margin-top: 1.25rem;
}

.igdb-cover {
    background-image: url('../images/nocover.png');
    width: 90px;
    height: 90px;
}
.igdb-cover img {
    width: 90px;
    height: 90px;
}

.igdb-box .is-hoverable:hover {
    background-color: #566573;
}
